<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="app.css">
		<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="manifest" href="manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta charset="UTF-8">
	</head>
	<body>
	<section id="main-container">
		<!--<div class="container">
			<div class="row">
				<div class="col s10 push-s1">
					<div class="row">
						<div class="col m5 hide-on-small-only"><img src="iphone.png" class="iphone"></div>
						<div class="col s12 m7">
							<div class="row">
								<div class="signup-box">
									<h1 class="platzigram">Platzigram</h1>
									<form class="signup-form">
										<h2>Regístrate para ver fotos de tus amigos estudiado en Platzi</h2>
										<div class="section"><a class="btn btn-fb hide-on-small-only">Iniciar sesíon con Facebook</a><a class="btn btn-fb hide-on-med-and-up">Iniciar sesíon</a></div>
										<div class="divider"></div>
										<div class="section">
											<input type="email" name="email" placeholder="Correo electrónico">
											<input type="text" name="name" placeholder="Nombre completo">
											<input type="text" name="username" placeholder="Nombre de usuario">
											<input type="password" name="password" placeholder="Contraseña">
											<button type="submit" class="btn waves-effect waves-light btn-signup">Regístrate</button>
										</div>
									</form>
								</div>
							</div>
							<div class="row">
								<div class="login-box">¿Tienes una cuenta?<a href="/signin">Entrar</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
	</section>
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col s12 l3 center-align">
					<a href="#" data-activates="dropdown1" class="dropdown-button btn btn-flat">
						<i class="material-icons">menu</i>
					</a>
					<ul id="dropdown1" class="dropdown-content">
						<li><a href="#">Español</a></li>
						<li><a href="#">Inglés</a></li>
					</ul>
				</div>
				<div class="col s12 l3 push-l6 center-align">© 2016 Platzigram</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<!--<script src="https://use.fontawesome.com/f2b3c1193e.js"></script>-->
	<script src="app.js" type="text/javascript"></script>
	</body>
</html>